$secondary-color: ☐ #141a33;
$primary-color: #f48023;
$White: #ffffff;
$white-one: #fcfcfc;
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 57px;
  background-color: $primary-color;
  height: auto;
  a.active {
    background: $secondary-color;
    a {
      font-weight: 300;
      font-size: 15px;
      border-radius: 8px;
      color: $White;
      a.ant-btn {
        &:hover {
          color: #ffffff;
          background: $secondary-color;
        }
      }
      img {
        width: 180px;
        .img_profile {
          width: 25px;
        }
        .active-button {
          border-radius: 8px limportant;
          padding: 2px 5px limportant;
          background: $secondary-color;
        }
        .main-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: $primary-color;
          padding: 0px;
        }
      }
    }
  }
}
